:root {
  --black--color:#000;
  --orange--color: #D1A16E;
  --dark--orange--color: #bc9163;
  --low--orange--color: #e3c7a8;
  --very--low--gray--color:#e9e9eb;
  --low--gray--color:#e9e9eb;
  --dark--gray--color:#a7a7ad;
}
