@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Noto Sans TC', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a,
span,
p,
li {
  font-size: 16px;
  letter-spacing: 0.1rem;
}

@media (max-width:1024px) {

  a,
  span,
  p,
  li {
    font-size: 14px;
  }
}

@media (max-width:768px) {

  a,
  span,
  p,
  li {
    font-size: 12px;
  }
}

@media (max-width:390px) {

  a,
  span,
  p,
  li {
    font-size: 11px;
  }
}