@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Noto Sans TC', sans-serif;
}

html {
  font-size: 62.5%;
}

/*******************/
/* 斷點 1200px(移動端) */
/*******************/
@media(max-width:75em) {
  html {
    font-size: 56.25%;
  }
}

/*******************/
/* 斷點 944px(平板電腦) */
/*******************/
@media (max-width:59em) {
  html {
    font-size: 50%;
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

a:hover {
  color: var(--dark--gray--color);
}

a,
span,
p,
li {
  font-size: 16px;
  letter-spacing: 0.1rem;
}

@media (max-width:1024px) {

  a,
  span,
  p,
  li {
    font-size: 14px;
  }
}

@media (max-width:768px) {

  a,
  span,
  p,
  li {
    font-size: 12px;
  }
}

@media (max-width:390px) {

  a,
  span,
  p,
  li {
    font-size: 11px;
  }
}